{% extends "base.html" %} 
{% block content %}
{% load static %}



<div class="h-screen">
  <section class="">
    <h5 class="p-4">Browse By Category</h5>
    
    <div class="mx-auto max-w-6xl bg-gray-200 py-2 px-4 mb-8 flex flex-wrap justify-center">
      {% for category in categories %}
        <div class="m-2">
          <div class="box text-center border border-gray-300 rounded-md py-2 px-4 hover:shadow-md">
            <a href="{% url 'category_wise_view' category.slug %}" class="text-decoration-none text-9xl text-gray-800"><h5>{{ category.name }}</h5></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <hr />
  <!-- .........book card list................. -->

  <section>
    <h3 class="p-4">Book list found: {{ data|length }}</h3>

    <div class="flex flex-wrap justify-center">
      {% for book in books %}
        <div class="card m-3 shadow-md p-3 mb-5 bg-white rounded-lg w-72">
          {% if book.image %}
            <img src="{{ book.image.url }}" alt="{{ book.title }}" class="w-full h-40 object-cover rounded-t-lg" />
          {% else %}
            <img src="{% static 'placeholder_image.jpg' %}" alt="Placeholder Image" class="w-full h-40 object-cover rounded-t-lg" />
          {% endif %}
          <div class="card-body">
            <a href="{% url 'Book_detail' book.id %}" class="text-decoration-none text-gray-800"><h5 class="card-title">{{ book.title }}</h5></a>
            <p class="card-text">{{ book.description|truncatechars:50 }}</p>
            <p class="card-text">Available: {{ book.quantity }}</p>
            <p class="card-text">Price: ${{ book.price }}</p>
            <div>
              <ul class="text-start">
                {% for category in book.category.all %}
                  <span class="card-text bg-gray-300 rounded-md m-1 px-2">{{ category.title }}</span>
                {% endfor %}
              </ul>
            </div>
            {% if request.user.is_authenticated %}
            <form method="post" action="{% url 'borrow_book' book.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Buy Now</button>
            </form>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock %}
