{% extends "base.html" %} {% block content %}

<div
  class="container-fluid d-flex align-items-center justify-content-center vh-100"
>
  <div class="row w-100 align-items-center">
    <div class="col-lg-6">
      <div class="mx-5 p-4">
        <div class="text-center">
          <div class="display-1 text-success text-uppercase font-weight-bold font-monospace">
            Task Management System
          </div>
          <p class="lead">
            "Empower your productivity with our comprehensive task management
            service, streamlining your workflow for seamless organization and
            efficiency." "Unlock the potential of effective task management with
            our tailored solutions, ensuring clarity, collaboration, and timely
            completion of every project."
          </p>
          
          <a href="#" class="btn btn-lg btn-success">Homepage</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="d-flex justify-content-center">
        <div class="p-4">
          <img
            src="https://user-images.githubusercontent.com/43953425/166269493-acd08ccb-4df3-4474-95c7-ad1034d3c070.svg"
            alt="Page not found"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
